body {
  font-family: Nunito, Arial;
  margin: 0;
  padding-bottom: 20px;
}

header {
  background: url('background-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  padding: 20px;
  text-align: center;
  object-fit: cover;
  color: white;
  font-size: 75px;
  font-weight: 700;
}

nav {
  background-color: rgb(20, 20, 50);
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 22px;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  transition: color .4s;
}

.skier-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  opacity: .5;
  transition: opacity .5s;
}

.skier-img:hover {
  opacity: 1;
  transition: opacity .5s;
}

section {
  padding: 20px;
}

footer {
  background-color: rgb(20, 20, 50);
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.article-title {
  font-weight: 700;
  font-size: 22px;
}

.about-section {
  font-weight: 400;
  font-size: 20px;
}

.main-text {
  line-height: 22.5px;
  font-size: 20px;
}

.image-container {
  text-align: center;
}

.actual-image {
  width: auto;
  height: auto;
  display: block;
  max-width: 50vw;
  margin-left: auto; 
  margin-right: auto;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(20, 20, 50);
  border-radius: 5px;
  cursor: pointer;
}

.caption {
  color: rgb(79, 79, 79);
  font-size: 14px;
  display: block;
  margin: 0px;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(210, 210, 210);
  margin-top: 5px;
  margin-bottom: 10px;
}

table, th, td:hover {
  background-color: rgb(170, 170, 170);
}

table {
  margin-left: auto;
  margin-right: auto;
}

.links:hover {
  color: rgb(170, 170, 170);
}

.link-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-gallery {
  width: 33%;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-gap: 5vw;
}

.image-gallery img {
  width: 33vw;
  cursor: pointer;
  transition: border .3s;
}

.image-gallery img:hover {
  border: 5px solid black;
  border-radius: 10px;
}

.full-image {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.full-image img {
  width: 85vw;
}

.full-image span {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 40px;
  color: black;
  cursor: pointer;
}

a:hover {
  color: rgb(170, 170, 170);
}
